<!doctype html>
<html lang="en">
	<head>
		<title>{{ site.website_title }}</title>
		
		<meta name="ROBOTS" content="INDEX,FOLLOW">
		<meta name="description" content="{{ site.meta_description }}">
		<meta name="keywords" content="{{ site.meta_tags }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		{{{ site.meta_head }}}

		<link href="{{ site.favicon_url }}" rel="shortcut icon">
		<link href="{{ site.rss_url }}" rel="alternate" type="application/rss+xml" title="{{ site.website_title }} feed">

		{{{ cargo_package }}}		

		<script src="/_jsapps/_libs/jquery_plugins/jquery.scrollTo.v146.min.js"></script>
		<script src="/_jsapps/_libs/cargo_plugins/elementResizer.js"></script>
		<script src="/_jsapps/_libs/cargo_plugins/columnizer.js"></script>
		<script src="{{#asset}}waypoints.min.js{{/asset}}"></script>
		
	</head>
	<body data-bodyview="{{ route.body_view }}">

		{{{ site.custom_html }}}

		{{! Navigation }}
		
		{{#unless config.is_phone}}
			{{#if display_options.show_nav}}
			<div class="navigation_wrapper">			
				<div class="site_header">
					<div class="navigation">
									
						<div class="page_navigation">
							{{#if navigation}}
								<div class="navigation_pages">
									<div id="nav_items" data-set="Navigation">
										{{#navigation}}
										<div id="menu_{{ id }}" class="{{ type }}_link" data-id="{{ id }}">
											<a id="p{{ id }}" {{#if link_url }} target="{{ link_target }}" href="{{ link_url }}" {{else}} href="{{ url }}" {{/if}} >{{ title }}</a>
										</div>
										{{/navigation}}
									</div>
									
									{{#if_option "following_link_in_nav"}}
										<div class="following page_link">
											<a href="{{ site.following_url }}">Following</a> 
											<span>({{ site.following_count }})</span>
										</div>
									{{/if_option}}
								</div>
							{{/if}}
						</div>
						
						<div class="view_navigation">
							<div action="#" id="search_form">
								<input value="{{ search.term }}" type="text" rel="Search..." id="search_term">
							</div>
							<div>
								<div class="view_link feed_link{{#if route.feed}} active{{/if}}">
									<a href="{{ site.direct_link }}{{ display_options.feed_route_url }}">{{ display_options.feed_route_name }}</a>
								</div>
								<div class="view_link index_link {{#if route.index}}active{{/if}}">
									<a href="{{ site.direct_link }}{{ display_options.index_route_url }}">{{ display_options.index_route_name }}</a>
								</div>
							</div>
						</div>
		
					</div>
					
				</div>
			</div>
			{{/if}}	
		{{/unless}}
			
		{{#if config.is_phone}}	
			<div class="navigation_wrapper">	
				<!-- Cover body on mobile navigation -->
				<div class="body_cover"></div>
				
						
				{{! Mobile Navigation }}
				<div class="mobile_site_header" >
					<div class="toolset">
				
						<div class="navigation_toggle">
							<img class="menu_icon" src="{{#asset}}menu_icon.svg{{/asset}}">
							<img class="close" src="{{#asset}}close.svg{{/asset}}">
						</div>	
				
						<div class="top_line"></div>
						<div class="bottom_line"></div>
					</div>
				
					<div class="nav_container">
						<div class="no_style" id="nav_wrapper">
		
							{{#if route.index}}
								<a href="{{ site.direct_link }}{{ display_options.feed_route_url }}">{{ display_options.feed_route_name }}</a>
							{{else}}
								{{#if route.feed}}
									<a href="{{ site.direct_link }}{{ display_options.index_route_url }}">{{ display_options.index_route_name }}</a>
								{{/if}}
							{{/if}}
								
							{{#unless_all route.feed route.index}}
								<a href="{{ site.direct_link }}{{ display_options.feed_route_url }}">{{ display_options.feed_route_name }}</a>
								<a href="{{ site.direct_link }}{{ display_options.index_route_url }}">{{ display_options.index_route_name }}</a>
							{{/unless_all}}
							
							<div id="nav_items" data-set="Navigation">
								{{#navigation}}
									<a class="{{ type }}_link" id="p{{ id }}" {{#if link_url }}href="{{ link_url }}" rel="linkage"{{else}}rel="history" href="{{ url }}"{{/if}}>{{ title_no_html }}</a>
								{{/navigation}}
							</div>
							
							{{#if_option "following_link_in_nav"}}
									<a href="{{ site.following_url }}">Following <span>({{ site.following_count }})</span></a> 
							{{/if_option}}
							
						</div>
					</div>
				</div>	
			</div>
		{{/if}}	
		
		{{#if display_options.cover_content}}
		<div id="custom_view" data-view="cover" data-set="Site">
			<div class="site_cover">
				<div class="site_cover_wrapper">
					<div class="cover_title_text">
						Larisa Berger is a technologist and creative type based in 	Cambridge, MA.
					</div>
					<div id="cover_navigation">
						<div class="cover_nav_current">
							<div class="cover_nav_title"><a href="#">Fresh</a></div>
							<ul class="cover_nav_list">
								<li><a href="#">Catalog Of A Loss</a></li>
								<li><a href="#">Comedy Hack Day SF 2015</a></li>
							</ul>
						</div>

						<div class="cover_nav_recent_best">
							<div id="cover_nav_recent_only">
								<div class="cover_nav_title"><a href="#">Present-ly</a></div>
								<ul class="cover_nav_list">
									<li><a href="#">Experiments with the Monome Grid</a></li>
									<li><a href="#">DataLore 2015</a></li>
									<li><a href="#">Audio Interfaces for MOTU</a></li>
								</ul>
							</div>						
							<div id="cover_nav_best_only">
								<div class="cover_nav_title"><a href="#">Perfect(ed)</a></div>
								<ul class="cover_nav_list">
									<li><a href="#">MIT Creative Writing Thesis Project</a></li>
									<li><a href="#">Music Education Game for 	Sifteo Cubes</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		 	In place of cover content.
		{{/if}}
			
		<div class="header_max_width">
			<div class="header_image_wrapper">
				{{#if site.header_url}}
					<div class="header_image">
		
						{{#if_option "header_link_to_index"}}
							<a href="{{ site.direct_link }}">
						{{/if_option}}
							<img src="{{ site.header_url }}" {{#if display_options.header_2x}} height="{{ site.header_height_2x }}" width="{{ site.header_width_2x }}" {{else}} height="{{ site.header_height }}" width="{{ site.header_width }}" {{/if}} />
						{{#if_option "header_link_to_index"}}</a>{{/if_option}}
		
					</div>
				{{/if}}
		
				{{#if site.header_text}}
					<div class="header_text_wrapper">
						<div class="header_text">
							<a href="{{ site.direct_link }}">
								{{{ site.header_text }}}
							</a>
						</div>
					</div>
				{{/if}}
				
				{{#unless_all site.header_url site.header_text }}
					<div id="no_header_spacer"></div>
				{{/unless_all}}
			</div>
		</div>
		


	</div>

{{#route directlink "/*"}}

	<div class="feed_wrapper">

		<div id="feed" class="feed clear" data-view="ProjectDetail" data-set="Project">
			<div class="project_container" data-id="{{ project.id }}" data-resize-parent>
				<div class="project" {{#if project.bgcolor}}style="background: #{{ project.bgcolor }}"{{/if}}>

				{{#if_option "title_in_project"}}
					{{#if project.show_title }}
						<div class="project_title sticky">
							<span>
							{{{ project.title }}}
							</span>
						</div>
					{{/if}}
				{{/if_option}}

				<div class="project_content" data-elementresizer>
					{{print "project.content"}}
				</div>

				{{#if_option "footer_in_project"}}
					<div class="project_footer">

					<span class="date">
						{{ project.date }}
					</span>

					{{#if_option "view_count_in_project"}}
						<span class="views">({{ project.views }} views)</span>&nbsp;
					{{/if_option}}

					{{#if project.tags}}
						<span class="tags">Filed under {{#project.tags}}<span><a href="{{ filter_link }}">{{ tag }}</a></span> {{/project.tags}}</span>
					{{/if}}

					{{#if site.is_editor}}
						<span class="editlink">
							<a href="{{ site.direct_link }}/admin/{{ project.id }}" target="_top">Edit</a>
						</span>
					{{/if}}

					</div>
				{{/if_option}}

				<directlink link="{{ project.direct_link }}" id="dl_{{ project.id }}"></directlink>

				</div>
			</div>
		</div>

		<div id="autopaginate_loader" class="moreload hide_loader" data-view="Autopaginate" data-preload_distance="1500" ></div>
		
	</div>

{{/route}}

{{#route feed display_options.feed_route_url}}

	<div class="feed_wrapper">
		{{#if site.filter}}
			<div class="filter">Filter: <span class="keyword">{{ site.filter }}</span> → <a class="view_all" href="{{ site.direct_link }}{{ display_options.feed_route_url }}">view all</a></div>
		{{/if}}
		
		
			{{#unless_all site.filter config.is_mobile}}
			<div id="arrow_nav">
				<a class="go_to_top">{{#asset_contents}}arrow-double.svg{{/asset_contents}}</a>
				<a class="prev_entry">{{#asset_contents}}arrow.svg{{/asset_contents}}</a>
				<a class="next_entry">{{#asset_contents}}arrow.svg{{/asset_contents}}</a>
			</div>
			{{/unless_all}}
			<div id="feed" class="feed clear" data-view="Feed" data-set="Projects" data-autopaginate="true">
				{{#projects}}
				
					<div class="project_container" data-id="{{ id }}" data-resize-parent>
							
						<div class="project" {{#if bgcolor}}style="background: #{{ bgcolor }}"{{/if}}>
	
							{{#if_option "title_in_project"}}
								{{#if show_title }}
								<div class="project_title">
									<a href="{{ direct_link }}">{{{ title }}}</a>
								</div>
								{{/if}}
							{{/if_option}}
	
							<div class="project_content" data-elementresizer>
								{{print "content"}}
							</div>
	
							{{#if_option "footer_in_project"}}
							<div class="project_footer">
	
								<span class="date">
									{{ date }}
								</span>
	
								{{#if_option "view_count_in_project"}}
									<span class="views">({{ views }} views)</span>&nbsp;
								{{/if_option}}
	
								{{#if tags}}
									<span class="tags">Filed under {{#tags}}<span><a href="{{ filter_link }}">{{ tag }}</a></span> {{/tags}}</span>
								{{/if}}
	
								{{#if_any "site.is_editor"}}
									<span class="editlink">
										{{! This multi-slash is because javascript handlebars does not handle depth well}}
										<a href="{{ site.direct_link }}{{ ../../../site.direct_link }}/admin/{{{ id }}}" target="_top">Edit</a>
									</span>
								{{/if_any}}
	
							</div>
							{{/if_option}}
	
							<directlink link="{{ direct_link }}" id="dl_{{ id }}"></directlink>
	
						</div>
	
					</div>
	
				{{/projects}}
	
			</div>

		<div id="autopaginate_loader" class="moreload" data-view="Autopaginate" data-preload_distance="1500">
			{{>loading_animation}}
		</div>
	</div>

{{/route}}

{{#route index display_options.index_route_url}}
		{{#if site.filter}}
			<div class="filter">Filter: <span class="keyword">{{ site.filter }}</span> → <a class="view_all" href="{{ site.direct_link }}{{ display_options.index_route_url }}">view all</a></div>
		{{/if}}
		<div id="index" class="thumbnails clear" data-columnize=".thumbnail" data-columnize-equalize="true" data-columnize-fluid="{{#if_option "fluid_columns"}}true{{/if_option}}" data-columnize-width="{{ display_options.thumb_size.w }}" data-view="Thumbnail" data-set="Projects">

			{{#projects}}
				<div class="thumbnail {{#if_equal default_thumb_url "/_gfx/thumb_default.gif"}}default_thumb{{/if_equal}}" id="item_{{ id }}" name="{{ id }}" data-setid="{{ set_id }}">
					<div class="loading" data-loading="{{ id }}">
						{{>loading_animation}}
					</div>

					<a href="{{ url }}" data-id="{{ id }}">

						<div class="thumb_image" name="">
						
						
							<img src="{{print "thumb_url"}}" width="{{ thumb_width }}" height="{{ thumb_height }}" {{#if thumb_url_2x}} data-hi-res="{{ thumb_url_2x }}" {{/if}}>
						</div>

						{{#if_option "title_in_thumb"}}
							<div class="thumb_title">
								<span>{{{ title }}}</span>
							</div>
						{{/if_option}}

					</a>

					{{#if_option "excerpt_in_thumb"}}
						{{#if excerpt}}
						<div class="thumb_excerpt">
							<span>{{{ excerpt }}}</span>
						</div>
						{{/if}}
					{{/if_option}}


					{{#if_option "tags_in_thumb"}}
						<div class="thumb_tags">
							{{#tags}}
							<span class="thumb_tag"><a href="{{ filter_link }}">{{ tag }}</a></span>
							{{/tags}}
						</div>
					{{/if_option}}
				</div>
			{{/projects}}

		</div>

		<div id="autopaginate_loader" class="moreload" data-view="Autopaginate" data-preload_distance="1500">
			{{>loading_animation}}
		</div>

{{/route}}

{{#route search "/search"}}

<div class="feed_wrapper">
	<div class="search_container">
		<div class="project">
			<div id="search" class="search" data-view="Search">

				<div action="#" class="search_form_results" id="search_form_results">
					<div class="search_header">Search results for </div>
					<input type="text" value="{{ search.term }}" id="results_search_term">
				</div>

				{{#search}}
					{{#projects}}
						<div class="result">
							<div class="search_thumb">
								<a href="{{ direct_link }}">
									<img border="0" align="left" src="{{ thumb_url }}">
								</a>
							</div>
							<div class="search_text">
								<div class="search_title">
									<a href="{{ direct_link }}">{{ title }}</a>
								</div>
								<div class="search_body">
									{{ excerpt }}
								</div>
								<div class="search_tags">
									{{#tags}}
										<span class="thumb_tag"><a href="{{ filter_link }}">{{ tag }}</a></span>
									{{/tags}}
								</div>
							</div>
						</div>
					{{/projects}}
				{{/search}}
				
			</div>
		</div>
	</div>
	</div>

{{/route}}

	</body>
</html>
